html {
  font-size: 62.5%;
  margin:0;
  padding:0;
}

body {
  background: linear-gradient(to right, #a1ffce, #faffd1); 
}

h1,
h2{
  font-size: 7rem;
  letter-spacing: 1.5px;
  line-height: 50px;
}

h2{
  font-size: 4rem;
}


.App {
  text-align: center;
  margin:50px auto;
}


#packing-list input {
  background-color:papayawhip;
  width:300px;
  height:50px;
  padding: 0 20px;
  margin:20px;
  border: 0;
  font-size: 1.8rem;
  border-radius: 10px;
  color:black;
}

#packing-list input::placeholder {
  color: tan;
  
}

#packing-list button {
  height:50px;
  width:100px;
  border-radius: 5px;
  border:0;
  background-color: #F2CD60;
  cursor: pointer;
  font-size: 1.8rem;
}

#packing-list button:hover{
  background-color: #9684A1;
}



