html {
  font-size: 62.5%;
  margin:0;
  padding:0;
}

body {
  /* background-image: url('assets/suitcase-background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;

  background-position: center; */
 background: linear-gradient(to right, #fd746c, #ff9068);
 font-family: 'Montserrat', sans-serif;
}

h1,
h2{
  line-height: 50px;
  color: white;
  letter-spacing: 1px;
  
}
h1{
  font-family: 'Shadows Into Light', cursive;
  font-size: 8rem;
  letter-spacing: 2px;
  color:black;
}

h2{
  font-size: 3rem;
}




.App {
  text-align: center;
  margin:50px auto;
  /* border: 1px solid red; */
}


input {
  background-color:papayawhip;
  width:450px;
  height:50px;
  padding: 0 20px;
  margin:20px;
  border: 0;
  font-size: 1.8rem;
  border-radius: 10px;
  color:black;
}

input::placeholder {
  color: tan;
}

button {
  height:50px;
  width:150px;
  border-radius: 5px;
  border:0;
  background-color: black;
  color:white;
  /* F2CD60 */
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
}

button:hover{
  background-color: #9684A1;
  color:black;
}


label{
  font-size: 2.2rem;
}



ul li{
  font-size: 1.8rem;
  list-style-type: none;
  width: 50%;
  padding: 15px;
  border-radius: 10px;
  margin: 50px auto;
  background-color: #9684A1;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

ul li button{
  background-color: #9684A1;

  
}

